In [1]:
import pandas as pd
import numpy as np

## Extracting from SalesQL to pandas dataframe

reading from excel file SalesQL Raw

In [2]:
# Read the Excel file into a DataFrame
dfSalesQL = pd.read_excel('C:/Users/uadrian/Downloads/MITS/Data Research Template.xlsx', sheet_name='SalesQL Record')

## rearrange SalesQL data

In [3]:
df1 = dfSalesQL[['full_name','company_name_cleaned','email1','email1_type', 'email1_status', 'phone1', 'phone1_type','phone1_status']]
df2 = dfSalesQL[['full_name','company_name_cleaned','email2','email2_type', 'email2_status', 'phone2', 'phone2_type','phone2_status']]
df3 = dfSalesQL[['full_name','company_name_cleaned','email3','email3_type', 'email3_status', 'phone3', 'phone3_type','phone3_status']]
df4 = dfSalesQL[['full_name','company_name_cleaned','email4','email4_type', 'email4_status', 'phone4', 'phone4_type','phone4_status']]

# Renaming columns
df1.rename(columns={'email1': 'email', 'email1_type': 'email_type', 'email1_status': 'email_status',
                    'phone1': 'phone', 'phone1_type': 'phone_type', 'phone1_status': 'phone_status'}, inplace=True)

df2.rename(columns={'email2': 'email', 'email2_type': 'email_type', 'email2_status': 'email_status',
                    'phone2': 'phone', 'phone2_type': 'phone_type', 'phone2_status': 'phone_status'}, inplace=True)

df3.rename(columns={'email3': 'email', 'email3_type': 'email_type', 'email3_status': 'email_status',
                    'phone3': 'phone', 'phone3_type': 'phone_type', 'phone3_status': 'phone_status'}, inplace=True)

df4.rename(columns={'email4': 'email', 'email4_type': 'email_type', 'email4_status': 'email_status',
                    'phone4': 'phone', 'phone4_type': 'phone_type', 'phone4_status': 'phone_status'}, inplace=True)

# Combining DataFrames
rearranged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

C:\Users\uadrian\AppData\Local\Temp\ipykernel_25644\4258816524.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'email1': 'email', 'email1_type': 'email_type', 'email1_status': 'email_status',
C:\Users\uadrian\AppData\Local\Temp\ipykernel_25644\4258816524.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'email2': 'email', 'email2_type': 'email_type', 'email2_status': 'email_status',
C:\Users\uadrian\AppData\Local\Temp\ipykernel_25644\4258816524.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.rename(columns={'email3': 'email', 'email3_type': 'email_type', 'email3_status': 'email_status',
C:\Users\uadrian\AppData\Local\Temp\ipykernel_25644\4258816524.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.rename(columns={'email4': 'email', 'email4_type': 'email_type', 'email4_status': 'email_status',

## Saving the rearranged SalesQL data into Excel

In [ ]:
# Define the path for the Excel file
excel_file_path = 'Linkedin_SalesQL1.xlsx'
# Save the filtered DataFrame to an Excel file
rearranged_df.to_excel(excel_file_path, index=False)
print("Filtered data saved to", excel_file_path)

## Extracting info from Template into pandas dataframe

In [4]:
# Read the Excel file into a DataFrame
# dftemplate = pd.read_excel('C:/Users/uadrian/Downloads/MITS/Data Research Template.xlsx', sheet_name='Template', header=1)

dftemplate = pd.DataFrame(columns=['NO', 'COMPANY NAME', 'COMPANY ADDRESS', 'COMPANY ACTIVITIES',
       'COMPANY TEL', 'COMPANY EMAIL', 'COMPANY WEBSITE', 'CONTACT SALUTATION',
       'CONTACT NAME', 'CONTACT TEL', 'WORK EMAIL', 'CONTACT EMAIL',
       'POSITION', 'SUBJECT OF INTEREST', 'OTHER NOTES', 'Search Status',
       'Link Reference', 'LinkedIn Profile', 'LinkedIn Connection Status',
       'Google Link Redirect', 'Raw Full Name', 'Added in SalesQL', 'Checking',
       'Unnamed: 23'])

Rearranging emails properly

In [5]:
# Drop rows where both 'email' and 'phone' columns are null
filtered_df = rearranged_df.dropna(subset=['email', 'phone'], how='all')
filtered_df = filtered_df.sort_values(by=['company_name_cleaned', 'full_name'])

pretemplate = pd.DataFrame(columns=[
    'NO', 'COMPANY NAME', 'COMPANY ADDRESS', 'COMPANY ACTIVITIES', 'COMPANY TEL', 
    'COMPANY EMAIL', 'COMPANY WEBSITE', 'CONTACT SALUTATION', 'CONTACT NAME', 
    'CONTACT TEL', 'WORK EMAIL', 'CONTACT EMAIL', 'POSITION', 'SUBJECT OF INTEREST', 
    'OTHER NOTES', 'Search Status', 'Link Reference', 'LinkedIn Profile', 
    'LinkedIn Connection Status', 'Google Link Redirect', 'Raw Full Name', 
    'Added in SalesQL', 'Checking', 'Unnamed: 23'
])

# Populate the CONTACT EMAIL and WORK EMAIL columns
pretemplate['CONTACT EMAIL'] = filtered_df.apply(lambda x: x['email'] if x['email_type'] == 'personal' else '', axis=1)
pretemplate['WORK EMAIL'] = filtered_df.apply(lambda x: x['email'] if x['email_type'] in ['main job', 'job'] else '', axis=1)

name_mapping = dict(zip(filtered_df['email'], filtered_df['full_name']))
# Fill NaN values in 'COMPANY NAME' column of dftemplate_t4 using company_mapping
pretemplate['CONTACT NAME'] = pretemplate['CONTACT NAME'].fillna(pretemplate['CONTACT EMAIL'].map(name_mapping))
pretemplate['CONTACT NAME'] = pretemplate['CONTACT NAME'].fillna(pretemplate['WORK EMAIL'].map(name_mapping))

# Drop rows where both 'WORK EMAIL' and 'CONTACT EMAIL' are empty strings
pretemplate = pretemplate[~((pretemplate['WORK EMAIL'] == '') & (pretemplate['CONTACT EMAIL'] == ''))]
pretemplate.replace('', np.nan, inplace=True)
pretemplate[['CONTACT NAME','WORK EMAIL','CONTACT EMAIL']]

# Group by 'CONTACT NAME' and aggregate the emails
stacked_emails = pretemplate.groupby('CONTACT NAME').agg(lambda x: ', '.join(x.dropna()))

# Reset the index if needed
stacked_emails.reset_index(inplace=True)
# Split emails into separate rows
stacked_emails = stacked_emails.assign(
    WORK_EMAIL=stacked_emails['WORK EMAIL'].str.split(', '),
    CONTACT_EMAIL=stacked_emails['CONTACT EMAIL'].str.split(', ')
).explode('WORK EMAIL').explode('CONTACT EMAIL')

# Split comma-separated emails into separate rows
stacked_emails['CONTACT EMAIL'] = stacked_emails['CONTACT EMAIL'].str.split(', ')

# Explode 'CONTACT EMAIL' column
stacked_emails = stacked_emails.explode('CONTACT EMAIL')

# Split comma-separated emails into separate rows
stacked_emails['WORK EMAIL'] = stacked_emails['WORK EMAIL'].str.split(', ')

# Explode 'WORK EMAIL' column
stacked_emails = stacked_emails.explode('WORK EMAIL')

stacked_emails.replace('', np.nan, inplace=True)
stacked_emails = stacked_emails[[
    'NO', 'COMPANY NAME', 'COMPANY ADDRESS', 'COMPANY ACTIVITIES', 'COMPANY TEL', 
    'COMPANY EMAIL', 'COMPANY WEBSITE', 'CONTACT SALUTATION', 'CONTACT NAME', 
    'CONTACT TEL', 'WORK EMAIL', 'CONTACT EMAIL', 'POSITION', 'SUBJECT OF INTEREST', 
    'OTHER NOTES', 'Search Status', 'Link Reference', 'LinkedIn Profile', 
    'LinkedIn Connection Status', 'Google Link Redirect', 'Raw Full Name', 
    'Added in SalesQL', 'Checking', 'Unnamed: 23']]
stacked_emails

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,...,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile,LinkedIn Connection Status,Google Link Redirect,Raw Full Name,Added in SalesQL,Checking,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHMAD SHAQIRIN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Khoo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abdul Halim Othman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abdul Qudoos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abdulla Raheel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mat darus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mirasukma razak,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pei hua chan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vishnu dev,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wengfoong leong,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

adding Names that dont have contact infos. (atleast we have their linkedin profiles)

In [6]:
# Select rows where both 'email' and 'phone' columns are NaN
filteredNaN_df = rearranged_df[rearranged_df[['email', 'phone']].isna().all(axis=1)]
filteredNaN_df = filteredNaN_df.drop_duplicates()

# Get the full names from filtered_df
full_names_filtered_df = filtered_df['full_name']

# Check if full names in filteredNaN_df exist in filtered_df
mask = filteredNaN_df['full_name'].isin(full_names_filtered_df)

# Drop rows in filteredNaN_df where full names match those in filtered_df
filteredNaN_df = filteredNaN_df[~mask]

stacked_emails_full = stacked_emails.copy()
# Update 'stacked_emails' with 'full_name' from 'filteredNaN_df' into 'CONTACT NAME' column
stacked_emails_full = stacked_emails_full.merge(filteredNaN_df[['full_name']].rename(columns={'full_name': 'CONTACT NAME'}), left_on='CONTACT NAME', right_on='CONTACT NAME', how='outer')
stacked_emails_full

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,...,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile,LinkedIn Connection Status,Google Link Redirect,Raw Full Name,Added in SalesQL,Checking,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AHMAD SHAQIRIN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Khoo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abdul Halim Othman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abdul Qudoos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abdulla Raheel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noramira Mohd Appandi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mazlin izwa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Takahiro Hirowatari,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sazali Jumri,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ahmad Rizal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Xlookup process into Python Process

In [7]:
# #Task 1 - From Template Xlookup Contact Email (email type 'personal') with email status 'valid'

# # Filter filtered_df for rows where 'email_status' is 'valid' and 'email_type' is 'personal'
# filtered_df_t1 = filtered_df[(filtered_df['email_status'] == 'valid') & (filtered_df['email_type'] == 'personal')]
# print(f'count rows for filtered_df: {filtered_df.shape}\ncount rows for filtered_df_t1: {filtered_df_t1.shape}')
# # Create a copy of dftemplate_raw
# dftemplate_t1 = dftemplate.copy()
# # Create a dictionary mapping 'Raw Full Name' to 'email' in filtered_df
# email_mapping = dict(zip(filtered_df_t1['full_name'], filtered_df_t1['email']))
# # Fill NaN values in 'email' column of dftemplate_t1 using email_mapping
# dftemplate_t1['CONTACT EMAIL'] = dftemplate_t1['CONTACT EMAIL'].fillna(dftemplate_t1['CONTACT NAME'].map(email_mapping))

# #Task 2 - From Template Xlookup Work Email (email type 'main job' & 'job') with email status 'valid'
# # Filter filtered_df for rows where 'email_status' is 'valid' and 'email_type' is 'main job' or 'job'
# filtered_df_t2 = filtered_df[(filtered_df['email_status'] == 'valid') & (filtered_df['email_type'].isin(['main job', 'job']))]
# # Create a copy of dftemplate_raw
# dftemplate_t2 = dftemplate_t1.copy()
# # Create a dictionary mapping 'Raw Full Name' to 'email' in filtered_df_t2, only for 'main job' and 'job' emails
# email_mapping_t2 = dict(zip(filtered_df_t2['full_name'], filtered_df_t2['email']))
# # Fill NaN values in 'WORK EMAIL' column of dftemplate_t2 using email_mapping_t2
# dftemplate_t2['WORK EMAIL'] = dftemplate_t2['WORK EMAIL'].fillna(dftemplate_t2['CONTACT NAME'].map(email_mapping_t2))

#Task 3 - From Template Xlookup Contact Tel (phone type '') with phone status status 'valid'
# Filter filtered_df for rows where 'phone_status' is 'valid' and 'phone_type' is ''
filtered_df_t3 = rearranged_df[(rearranged_df['phone_status'] == 'valid')]
# Create a copy of dftemplate_raw
dftemplate_t3 = stacked_emails_full.copy()
# Create a dictionary mapping 'Raw Full Name' to 'phone' in filtered_df_t3, only for phone_type ''
phone_mapping_t3 = dict(zip(filtered_df_t3['full_name'], filtered_df_t3['phone']))
# Fill NaN values in 'CONTACT TEL' column of dftemplate_t3 using phone_mapping_t3
dftemplate_t3['CONTACT TEL'] = dftemplate_t3['CONTACT TEL'].fillna(dftemplate_t3['CONTACT NAME'].map(phone_mapping_t3))

#Task 4 - From Template column 'Raw Full Name', xlookup join_df 'Raw Full Name' and return column 'company_name'
# Create a copy of dftemplate_raw
dftemplate_t4 = dftemplate_t3.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_name' in join_df
company_mapping = dict(zip(rearranged_df['full_name'], rearranged_df['company_name_cleaned']))
# Fill NaN values in 'COMPANY NAME' column of dftemplate_t4 using company_mapping
dftemplate_t4['COMPANY NAME'] = dftemplate_t4['COMPANY NAME'].fillna(dftemplate_t4['CONTACT NAME'].map(company_mapping))

#Task 5 - From Template column 'Raw Full Name', xlookup join_df 'Raw Full Name' and return column 'company_website'
# Create a copy of dftemplate_raw
dftemplate_t5 = dftemplate_t4.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
website_mapping = dict(zip(dfSalesQL['full_name'], dfSalesQL['company_website']))
# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t5['COMPANY WEBSITE'] = dftemplate_t5['COMPANY WEBSITE'].fillna(dftemplate_t5['CONTACT NAME'].map(website_mapping))


# dftemplate_t5

In [8]:
dftemplate_t5

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,...,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile,LinkedIn Connection Status,Google Link Redirect,Raw Full Name,Added in SalesQL,Checking,Unnamed: 23
0,NaN,Perodua Manufacturing Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,AHMAD SHAQIRIN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Pearl Glove (Malaysia) Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Aaron Khoo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Perodua Manufacturing Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Abdul Halim Othman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Paciﬁc Inter-Link Sdn Bhd,NaN,NaN,NaN,NaN,www.pilgroup.com,NaN,Abdul Qudoos,+60 12-370 0384,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,P&B Metal Components (Asia) Sdn Bhd,NaN,NaN,NaN,NaN,http://www.p-and-b.com,NaN,Abdulla Raheel,+60 16-771 7795,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,NaN,Pacestar Industries (Selangor) Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Noramira Mohd Appandi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,NaN,Pacestar Industries (Selangor) Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,mazlin izwa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,NaN,Pacestar Industries (Selangor) Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Takahiro Hirowatari,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,NaN,Pacestar Industries (Selangor) Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Sazali Jumri,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,NaN,P&B Metal Components (Asia) Sdn Bhd,NaN,NaN,NaN,NaN,NaN,NaN,Ahmad Rizal,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Populating Other Columns in Template

In [9]:
# Read the Excel file into a DataFrame
dftemplate_company = pd.read_excel('C:/Users/uadrian/Downloads/MITS/Data Research Template.xlsx', sheet_name='Template Company', header=1)

continuing from Task 5

In [10]:
#Task 6 - Populating COMPANY ADDRESS from Template Company into dftemplate_t6
# Create a copy of dftemplate_raw
dftemplate_t6 = dftemplate_t5.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
companyaddress_mapping = dict(zip(dftemplate_company['COMPANY NAME'], dftemplate_company['COMPANY ADDRESS']))
# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t6['COMPANY ADDRESS'] = dftemplate_t6['COMPANY ADDRESS'].fillna(dftemplate_t6['COMPANY NAME'].map(companyaddress_mapping))

#Task 7 - Populating COMPANY ACTIVITIES from Template Company into dftemplate_t6
# Create a copy of dftemplate_raw
dftemplate_t7 = dftemplate_t6.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
companyactivities_mapping = dict(zip(dftemplate_company['COMPANY NAME'], dftemplate_company['COMPANY ACTIVITIES']))
# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t7['COMPANY ACTIVITIES'] = dftemplate_t7['COMPANY ACTIVITIES'].fillna(dftemplate_t7['COMPANY NAME'].map(companyactivities_mapping))

#Task 8 - Populating COMPANY TEL from Template Company into dftemplate_t6
# Create a copy of dftemplate_raw
dftemplate_t8 = dftemplate_t7.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
companytel_mapping = dict(zip(dftemplate_company['COMPANY NAME'], dftemplate_company['COMPANY TEL']))
# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t8['COMPANY TEL'] = dftemplate_t8['COMPANY TEL'].fillna(dftemplate_t8['COMPANY NAME'].map(companytel_mapping))

#Task 9 - Populating COMPANY EMAIL from Template Company into dftemplate_t6
# Create a copy of dftemplate_raw
dftemplate_t9 = dftemplate_t8.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
companyemail_mapping = dict(zip(dftemplate_company['COMPANY NAME'], dftemplate_company['COMPANY EMAIL']))
# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t9['COMPANY EMAIL'] = dftemplate_t9['COMPANY EMAIL'].fillna(dftemplate_t9['COMPANY NAME'].map(companyemail_mapping))

#Task 10 - Populating POSITION from Template dfSalesQL into dftemplate_t6
# Create a copy of dftemplate_raw
dftemplate_t10 = dftemplate_t9.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
position_mapping = dict(zip(dfSalesQL['full_name'], dfSalesQL['current_position']))
# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t10['POSITION'] = dftemplate_t10['POSITION'].fillna(dftemplate_t10['CONTACT NAME'].map(position_mapping))

#Task 11 - Populating LinkedIn Profile from Template dfSalesQL into dftemplate_t6
# Create a copy of dftemplate_raw
dftemplate_t11 = dftemplate_t10.copy()
# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
LinkedinProfile_mapping = dict(zip(dfSalesQL['full_name'], dfSalesQL['person_linkedin_url']))
# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t11['LinkedIn Profile'] = dftemplate_t11['LinkedIn Profile'].fillna(dftemplate_t11['CONTACT NAME'].map(LinkedinProfile_mapping))

In [11]:
dftemplate_t11

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,...,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile,LinkedIn Connection Status,Google Link Redirect,Raw Full Name,Added in SalesQL,Checking,Unnamed: 23
0,NaN,Perodua Manufacturing Sdn Bhd,"Lot 1896, Sungai Choh Mukim Serendah 48009 Ra...","Automotive Spare Parts, Cars, Commercial Vehi...",03-67338888,webmaster@perodua.com.my,NaN,NaN,AHMAD SHAQIRIN,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/ahmad-shaqirin-618...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Pearl Glove (Malaysia) Sdn Bhd,"Plot 22, Jalan Lapan Bakar Arang Industrial E...",Coated Gloves and Bonded Gloves,04-4241861,aaron-khoo@pearlglove.com.my,NaN,NaN,Aaron Khoo,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/aaron-khoo-aa989080,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Perodua Manufacturing Sdn Bhd,"Lot 1896, Sungai Choh Mukim Serendah 48009 Ra...","Automotive Spare Parts, Cars, Commercial Vehi...",03-67338888,webmaster@perodua.com.my,NaN,NaN,Abdul Halim Othman,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/abdul-halim-othman...,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Paciﬁc Inter-Link Sdn Bhd,"Level 54 & 55 of Vista Tower, The Intermark, 3...",Dairy Products;Tea;Vegetable Oil and Fats;Soap...,NaN,NaN,www.pilgroup.com,NaN,Abdul Qudoos,+60 12-370 0384,...,NaN,NaN,NaN,https://www.linkedin.com/in/abdulqudoos,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,P&B Metal Components (Asia) Sdn Bhd,"PLO 258, Jalan Firma 3 Kawasan Perindustrian T...",Wire and Tape;Precision Stamped Parts;Assembly...,0 7-530 6000,sales.asia@p-and-b.com,http://www.p-and-b.com,NaN,Abdulla Raheel,+60 16-771 7795,...,NaN,NaN,NaN,https://www.linkedin.com/in/abdulla-raheel-750...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,NaN,Pacestar Industries (Selangor) Sdn Bhd,"P6382-2207, Jalan Kasawari, Off Jalan Kebun Ba...",Electronics Components;Automotive Parts and Ac...,03-31228628,psiga@pacestarind.com,NaN,NaN,Noramira Mohd Appandi,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/noramira-mohd-appa...,NaN,NaN,NaN,NaN,NaN,NaN
693,NaN,Pacestar Industries (Selangor) Sdn Bhd,"P6382-2207, Jalan Kasawari, Off Jalan Kebun Ba...",Electronics Components;Automotive Parts and Ac...,03-31228628,psiga@pacestarind.com,NaN,NaN,mazlin izwa,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/mazlin-izwa-285827180,NaN,NaN,NaN,NaN,NaN,NaN
694,NaN,Pacestar Industries (Selangor) Sdn Bhd,"P6382-2207, Jalan Kasawari, Off Jalan Kebun Ba...",Electronics Components;Automotive Parts and Ac...,03-31228628,psiga@pacestarind.com,NaN,NaN,Takahiro Hirowatari,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/takahiro-hirowatar...,NaN,NaN,NaN,NaN,NaN,NaN
695,NaN,Pacestar Industries (Selangor) Sdn Bhd,"P6382-2207, Jalan Kasawari, Off Jalan Kebun Ba...",Electronics Components;Automotive Parts and Ac...,03-31228628,psiga@pacestarind.com,NaN,NaN,Sazali Jumri,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/sazali-jumri-b72014a2,NaN,NaN,NaN,NaN,NaN,NaN
696,NaN,P&B Metal Components (Asia) Sdn Bhd,"PLO 258, Jalan Firma 3 Kawasan Perindustrian T...",Wire and Tape;Precision Stamped Parts;Assembly...,0 7-530 6000,sales.asia@p-and-b.com,NaN,NaN,Ahmad Rizal,NaN,...,NaN,NaN,NaN,https://www.linkedin.com/in/ahmad-rizal-910aa49a,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# pd.set_option('display.max_columns', None)
# dftemplate_t9[dftemplate_t9['WORK EMAIL'].notna()]
combined_df = pd.concat([dftemplate_t11, dftemplate_company], ignore_index=True)

In [14]:
combined_df.shape

(1474, 25)

In [20]:
# checking result
print(f'''
      raw   :{dftemplate['CONTACT TEL'].isna().sum()}
      t1    :{dftemplate_t5['CONTACT TEL'].isna().sum()}
      diff :{dftemplate['CONTACT TEL'].isna().sum() - dftemplate_t5['CONTACT TEL'].isna().sum()}
      '''
)

      raw   :692
      t1    :413
      diff :279

In [13]:
# Define the path for the Excel file
excel_file_path = 'template filled from SalesQL.xlsx'
# Save the filtered DataFrame to an Excel file
combined_df.to_excel(excel_file_path, index=False)
print("Filtered data saved to", excel_file_path)

Filtered data saved to template filled from SalesQL.xlsx