In [3]:
import pandas as pd

In [4]:
# Read the SalesQL Excel files into DataFrames
dfsource1 = pd.read_excel('C:/Users/uadrian/Downloads/MITS/SalesQL Subscription/SalesQL Export Record/SalesQL_contacts_export-2024-05-04-185103.xlsx')
dfsource2 = pd.read_excel('C:/Users/uadrian/Downloads/MITS/SalesQL Subscription/SalesQL Export Record/SalesQL_contacts_export-2024-05-06-172112.xlsx')
dfsource3 = pd.read_excel('C:/Users/uadrian/Downloads/MITS/SalesQL Subscription/SalesQL Export Record/SalesQL_contacts_export-2024-05-09-025526 - Johnny Go.xlsx')

# Concatenate the DataFrames vertically
combined_df = pd.concat([dfsource1, dfsource2, dfsource3], ignore_index=True)

In [5]:
# Custom function to extract profile ID from LinkedIn URL
def extract_profile_id(url):
    url = url.split('?')[0]
    url = url.split('#')[0]
    parts = url.split('/')
    return parts[4]

# Apply the custom function to the whole column
combined_df['Profile_ID'] = combined_df['person_linkedin_url'].apply(extract_profile_id)

In [9]:
# Read the Excel file into a DataFrame
dftemplate = pd.read_excel('C:/Users/uadrian/Downloads/MITS/Data Research Template.xlsx', sheet_name='Template', header=1)
dftemplate['LinkedIn Profile'] = dftemplate['LinkedIn Profile'].str.replace('%C2%AE', '®')
dftemplate.dropna(subset=['LinkedIn Profile'], inplace=True)

# Apply the custom function to the whole column
dftemplate['Profile_ID'] = dftemplate['LinkedIn Profile'].apply(extract_profile_id)

In [10]:
#joining df
join_df = pd.merge(combined_df, dftemplate[['Profile_ID', 'Raw Full Name']], on='Profile_ID', how='left')
join_df[join_df['Raw Full Name'].isna()]

,created_on,updated_from_linkedin,full_name,first_name,last_name,headline,current_position,company_name,person_city,person_state,...,person_crunchbase_url,person_twitter_url,person_facebook_url,company_linkedin_url,person_image_url,company_logo_url,created_by,lead_status,Profile_ID,Raw Full Name
436,2024-04-24,2024-04-24,Muhammad Amran Mat Aroh,Muhammad Amran,Mat Aroh,Data Analyst,Data Analyst,AEM Energy Solutions Sdn Bhd,Kampung Raja,Terengganu,...,NaN,NaN,NaN,https://www.linkedin.com/company/aem-enersol,https://salesql.s3.eu-central-1.amazonaws.com:...,https://salesql.s3.eu-central-1.amazonaws.com:...,Ungku Adrian,Added,muhammad-amran-mat-aroh,NaN
437,2024-04-24,2024-04-24,Ungku Adrian,Ungku,Adrian,Data Analyst | Electrical Engineering Background,Data Analyst,Averroes Data Science Sdn Bhd,Ampang,Selangor,...,NaN,NaN,NaN,NaN,https://salesql.s3.eu-central-1.amazonaws.com:...,https://salesql.s3.eu-central-1.amazonaws.com:...,Ungku Adrian,Added,ungku-adrian-607815180,NaN
442,2024-04-24,2024-04-24,Ariel Camino,Ariel,Camino,CEO at SalesQL - Helping businesses generate b...,CEO,SalesQL,Madrid,Madrid,...,NaN,NaN,NaN,https://www.linkedin.com/company/salesqldotcom,https://salesql.s3.eu-central-1.amazonaws.com:...,https://salesql.s3.eu-central-1.amazonaws.com:...,Ungku Adrian,Added,ariel-camino,NaN
552,2024-05-05,2024-05-05,Diego Alejandro Turmeque Orduz,Diego Alejandro,Turmeque Orduz,Administrador de empresas,NaN,NaN,Sogamoso,Boyacá,...,NaN,NaN,NaN,NaN,https://salesql.s3.eu-central-1.amazonaws.com:...,https://salesql.s3.eu-central-1.amazonaws.com:...,Ungku Adrian,Added,dato,NaN

In [11]:
df1 = join_df[['Raw Full Name','email1','email1_type', 'email1_status', 'phone1', 'phone1_type','phone1_status']]
df2 = join_df[['Raw Full Name','email2','email2_type', 'email2_status', 'phone2', 'phone2_type','phone2_status']]
df3 = join_df[['Raw Full Name','email3','email3_type', 'email3_status', 'phone3', 'phone3_type','phone3_status']]
df4 = join_df[['Raw Full Name','email4','email4_type', 'email4_status', 'phone4', 'phone4_type','phone4_status']]

# Renaming columns
df1.rename(columns={'email1': 'email', 'email1_type': 'email_type', 'email1_status': 'email_status',
                    'phone1': 'phone', 'phone1_type': 'phone_type', 'phone1_status': 'phone_status'}, inplace=True)

df2.rename(columns={'email2': 'email', 'email2_type': 'email_type', 'email2_status': 'email_status',
                    'phone2': 'phone', 'phone2_type': 'phone_type', 'phone2_status': 'phone_status'}, inplace=True)

df3.rename(columns={'email3': 'email', 'email3_type': 'email_type', 'email3_status': 'email_status',
                    'phone3': 'phone', 'phone3_type': 'phone_type', 'phone3_status': 'phone_status'}, inplace=True)

df4.rename(columns={'email4': 'email', 'email4_type': 'email_type', 'email4_status': 'email_status',
                    'phone4': 'phone', 'phone4_type': 'phone_type', 'phone4_status': 'phone_status'}, inplace=True)

# Combining DataFrames
rearranged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

C:\Users\uadrian\AppData\Local\Temp\ipykernel_26544\1496367537.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'email1': 'email', 'email1_type': 'email_type', 'email1_status': 'email_status',
C:\Users\uadrian\AppData\Local\Temp\ipykernel_26544\1496367537.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'email2': 'email', 'email2_type': 'email_type', 'email2_status': 'email_status',
C:\Users\uadrian\AppData\Local\Temp\ipykernel_26544\1496367537.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.rename(columns={'email3': 'email', 'email3_type': 'email_type', 'email3_status': 'email_status',
C:\Users\uadrian\AppData\Local\Temp\ipykernel_26544\1496367537.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.rename(columns={'email4': 'email', 'email4_type': 'email_type', 'email4_status': 'email_status',

In [12]:
# Drop rows where both 'email' and 'phone' columns are null
filtered_df = rearranged_df.dropna(subset=['email', 'phone'], how='all')
filtered_df

,Raw Full Name,email,email_type,email_status,phone,phone_type,phone_status
0,Ir. MOHAMED SHUHAIDI BIN OMAR,mohamed.omar@linktr.ee,job,accept_all_unverifiable,+60 3-2095 3030,company,valid
3,Ir. LUM WEE SEANG,andrew.lum@valdun.com,main job,valid,+60 3-7958 3855,company,valid
4,Ir. LUM WAI LEONG,wai@chemcaper.com,job,accept_all_unverifiable,+60 19-368 0152,company,valid
6,Ir. LUDHSIAH BINTI MUHAMAD SAIRI,ludhsiahsairi@gmail.com,personal,valid,NaN,NaN,NaN
8,Ir. LOW HAN GUAN,denlow@iaqtechnology.com.my,job,valid,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2469,Ir. CHOK YIN THONG,NaN,NaN,NaN,+43 1 727800,company,valid
2507,Ir. BERNARD SAGAIYARAJ J SWAMIRAJU,bernard.sagaiyaraj@utp.edu.my,job,accept_all_unverifiable,NaN,NaN,NaN
2682,Ir. NORHAFIZ BIN JAAFAR,NaN,NaN,NaN,+1 815-521-7411,company,valid
2731,Ir. MUHAMAD RIZANI MOHD RIFFIN,NaN,NaN,NaN,+60 12-674 4670,personal,valid
2881,Ir. SIVA KUMARAN A/L CHIDAMBRAM,NaN,NaN,NaN,+1 206-632-8812,company,valid

Xlookup process into Python Process

In [15]:
# extracting data from template
dftemplate_raw = pd.read_excel('C:/Users/uadrian/Downloads/MITS/Data Research Template.xlsx', sheet_name='Template', header=1)

# drop last three useless column
# dftemplate_raw = dftemplate_raw.iloc[:, :-3]
dftemplate_raw

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,...,CONTACT EMAIL,POSITION,SUBJECT OF INTEREST,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile,LinkedIn Connection Status,Google Link Redirect,Raw Full Name
0,1,NaN,NaN,NaN,NaN,NaN,upnm.edu.my OR http://eng.upnm.edu.my/,ASSOC PROF. Ir. Dr.,SAIDDI ALI FIRDAUS B MOHAMED ISHAK,NaN,...,saiddi@upnm.edu.my,Associate Professor,"Vibration Power - Reflection & Transmission, V...",NaN,NaN,http://eng.upnm.edu.my/home/jkm/staff.aspx,https://www.linkedin.com/in/saiddi-ali-firdaus...,NaN,https://www.google.com/search?q=ASSOC+PROF.+Ir...,ASSOC PROF. Ir. Dr. SAIDDI ALI FIRDAUS B MOHAM...
1,2,NaN,NaN,NaN,NaN,NaN,https://expert.unimas.my/,ASSOC. PROF. IR. DR.,MOHD DANIAL BIN IBRAHIM,+6082-583265,...,imdanial@unimas.my,Associate Professor,"His expertise is Industrial Energy Efficiency,...",NaN,NaN,https://expert.unimas.my/profile/1638,https://www.linkedin.com/in/assoc-prof-ir-dr-m...,NaN,https://www.google.com/search?q=ASSOC.+PROF.+I...,ASSOC. PROF. IR. DR. MOHD DANIAL BIN IBRAHIM
2,3,NaN,NaN,NaN,NaN,NaN,http://www.topglove.com/,BRIG. JEN. DATO' IR. HJ.,NAJMUDDIN BIN HJ. JAAFAR (BERSARA),NaN,...,NaN,RETIRED,NaN,BERSARA / RETIRED,NaN,https://tohairforce1981.blogspot.com/2019/03/a...,NaN,NaN,https://www.google.com/search?q=BRIG.+JEN.+DAT...,BRIG. JEN. DATO' IR. HJ. NAJMUDDIN BIN HJ. JAA...
3,4,NaN,NaN,NaN,NaN,NaN,NaN,DATO' Ir.,AHMAD BIN HASSAN,tel:+60192775413,...,datoahmad@topglove.com.my,"Consultant Govt. Affairs, Security & PT APS",NaN,NaN,NaN,https://www.dibiz.com/datoahmad,NaN,NaN,https://www.google.com/search?q=DATO'+Ir.+AHMA...,DATO' Ir. AHMAD BIN HASSAN
4,5,Maritime Strategic Association of Malaysia (MA...,NaN,NaN,NaN,NaN,NaN,DATO' Ir.,AHMAD MURAD BIN OMAR,NaN,...,NaN,President,NaN,NaN,NaN,https://www.navy.mil.my/ms/berita-utama/382-se...,https://www.linkedin.com/in/ahmad-murad-omar-9...,NaN,https://www.google.com/search?q=DATO'+Ir.+AHMA...,DATO' Ir. AHMAD MURAD BIN OMAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1616,1617,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir. Dr.,AHMAD RASDAN BIN ISMAIL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/ahmad-rasdan-ismai...,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. Dr. AHMAD RASDAN BIN ISMAIL
1617,1618,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir. Dr.,MOHAMED THARIQ BIN HAMEED SULTAN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://eng.upm.edu.my/upload/dokumen/20220907...,NaN,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. Dr. MOHAMED THARIQ BIN HAMEED ...
1618,1619,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir.,HAYATI BINTI ABDULLAH,NaN,...,NaN,NaN,NaN,NaN,NaN,https://utmscholar.utm.my/Scholar/ScholarInfoD...,NaN,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. HAYATI BINTI ABDULLAH
1619,1620,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir.,ZAINAL ABIDIN BIN WAN CHIK,NaN,...,NaN,NaN,NaN,NaN,NaN,https://utmscholar.utm.my/Scholar/ScholarInfoD...,https://my.linkedin.com/in/a-p-ir-zainal-abidi...,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. ZAINAL ABIDIN BIN WAN CHIK
1620,1621,NaN,NaN,NaN,NaN,NaN,NaN,TAN SRI Ir. Dr.,NGAU BOON KEAT,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.dialogasia.com/board-of-directors/...,NaN,NaN,https://www.google.com/search?q=TAN+SRI+Ir.+Dr...,TAN SRI Ir. Dr. NGAU BOON KEAT

In [27]:
#Task 1 - From Template Xlookup Contact Email (email type 'personal') with email status 'valid'

# Filter filtered_df for rows where 'email_status' is 'valid' and 'email_type' is 'personal'
filtered_df_t1 = filtered_df[(filtered_df['email_status'] == 'valid') & (filtered_df['email_type'] == 'personal')]
print(f'count rows for filtered_df: {filtered_df.shape}\ncount rows for filtered_df_t1: {filtered_df_t1.shape}')

# Create a copy of dftemplate_raw
dftemplate_t1 = dftemplate_raw.copy()

# Create a dictionary mapping 'Raw Full Name' to 'email' in filtered_df
email_mapping = dict(zip(filtered_df_t1['Raw Full Name'], filtered_df_t1['email']))

# Fill NaN values in 'email' column of dftemplate_t1 using email_mapping
dftemplate_t1['CONTACT EMAIL'] = dftemplate_t1['Raw Full Name'].map(email_mapping).fillna(dftemplate_t1['CONTACT EMAIL'])



#Task 2 - From Template Xlookup Work Email (email type 'main job' & 'job') with email status 'valid'

# Filter filtered_df for rows where 'email_status' is 'valid' and 'email_type' is 'main job' or 'job'
filtered_df_t2 = filtered_df[(filtered_df['email_status'] == 'valid') & (filtered_df['email_type'].isin(['main job', 'job']))]

# Create a copy of dftemplate_raw
dftemplate_t2 = dftemplate_t1.copy()

# Create a dictionary mapping 'Raw Full Name' to 'email' in filtered_df_t2, only for 'main job' and 'job' emails
email_mapping_t2 = dict(zip(filtered_df_t2['Raw Full Name'], filtered_df_t2['email']))

# Fill NaN values in 'WORK EMAIL' column of dftemplate_t2 using email_mapping_t2
dftemplate_t2['WORK EMAIL'] = dftemplate_t2['Raw Full Name'].map(email_mapping_t2).fillna(dftemplate_t2['WORK EMAIL'])



#Task 3 - From Template Xlookup Contact Tel (phone type '') with phone status status 'valid'

# Filter filtered_df for rows where 'phone_status' is 'valid' and 'phone_type' is ''
filtered_df_t3 = filtered_df[(filtered_df['phone_status'] == 'valid')]

# Create a copy of dftemplate_raw
dftemplate_t3 = dftemplate_t2.copy()

# Create a dictionary mapping 'Raw Full Name' to 'phone' in filtered_df_t3, only for phone_type ''
phone_mapping_t3 = dict(zip(filtered_df_t3['Raw Full Name'], filtered_df_t3['phone']))

# Fill NaN values in 'CONTACT TEL' column of dftemplate_t3 using phone_mapping_t3
dftemplate_t3['CONTACT TEL'] = dftemplate_t3['Raw Full Name'].map(phone_mapping_t3).fillna(dftemplate_t3['CONTACT TEL'])



#Task 4 - From Template column 'Raw Full Name', xlookup join_df 'Raw Full Name' and return column 'company_name'

# Create a copy of dftemplate_raw
dftemplate_t4 = dftemplate_t3.copy()

# Create a dictionary mapping 'Raw Full Name' to 'company_name' in join_df
company_mapping = dict(zip(join_df['Raw Full Name'], join_df['company_name']))

# Fill NaN values in 'COMPANY NAME' column of dftemplate_t4 using company_mapping
dftemplate_t4['COMPANY NAME'] = dftemplate_t4['Raw Full Name'].map(company_mapping).fillna(dftemplate_t4['COMPANY NAME'])

#Task 5 - From Template column 'Raw Full Name', xlookup join_df 'Raw Full Name' and return column 'company_website'

# Create a copy of dftemplate_raw
dftemplate_t5 = dftemplate_t4.copy()

# Create a dictionary mapping 'Raw Full Name' to 'company_website' in join_df
website_mapping = dict(zip(join_df['Raw Full Name'], join_df['company_website']))

# Fill NaN values in 'COMPANY WEBSITE' column of dftemplate_t5 using website_mapping
dftemplate_t5['COMPANY WEBSITE'] = dftemplate_t5['Raw Full Name'].map(website_mapping).fillna(dftemplate_t5['COMPANY WEBSITE'])

dftemplate_t5

count rows for filtered_df: (705, 7)
count rows for filtered_df_t1: (270, 7)

,NO,COMPANY NAME,COMPANY ADDRESS,COMPANY ACTIVITIES,COMPANY TEL,COMPANY EMAIL,COMPANY WEBSITE,CONTACT SALUTATION,CONTACT NAME,CONTACT TEL,...,CONTACT EMAIL,POSITION,SUBJECT OF INTEREST,OTHER NOTES,Search Status,Link Reference,LinkedIn Profile,LinkedIn Connection Status,Google Link Redirect,Raw Full Name
0,1,NaN,NaN,NaN,NaN,NaN,upnm.edu.my OR http://eng.upnm.edu.my/,ASSOC PROF. Ir. Dr.,SAIDDI ALI FIRDAUS B MOHAMED ISHAK,NaN,...,saiddi@upnm.edu.my,Associate Professor,"Vibration Power - Reflection & Transmission, V...",NaN,NaN,http://eng.upnm.edu.my/home/jkm/staff.aspx,https://www.linkedin.com/in/saiddi-ali-firdaus...,NaN,https://www.google.com/search?q=ASSOC+PROF.+Ir...,ASSOC PROF. Ir. Dr. SAIDDI ALI FIRDAUS B MOHAM...
1,2,NaN,NaN,NaN,NaN,NaN,https://expert.unimas.my/,ASSOC. PROF. IR. DR.,MOHD DANIAL BIN IBRAHIM,+6082-583265,...,imdanial@unimas.my,Associate Professor,"His expertise is Industrial Energy Efficiency,...",NaN,NaN,https://expert.unimas.my/profile/1638,https://www.linkedin.com/in/assoc-prof-ir-dr-m...,NaN,https://www.google.com/search?q=ASSOC.+PROF.+I...,ASSOC. PROF. IR. DR. MOHD DANIAL BIN IBRAHIM
2,3,NaN,NaN,NaN,NaN,NaN,http://www.topglove.com/,BRIG. JEN. DATO' IR. HJ.,NAJMUDDIN BIN HJ. JAAFAR (BERSARA),NaN,...,NaN,RETIRED,NaN,BERSARA / RETIRED,NaN,https://tohairforce1981.blogspot.com/2019/03/a...,NaN,NaN,https://www.google.com/search?q=BRIG.+JEN.+DAT...,BRIG. JEN. DATO' IR. HJ. NAJMUDDIN BIN HJ. JAA...
3,4,NaN,NaN,NaN,NaN,NaN,NaN,DATO' Ir.,AHMAD BIN HASSAN,tel:+60192775413,...,datoahmad@topglove.com.my,"Consultant Govt. Affairs, Security & PT APS",NaN,NaN,NaN,https://www.dibiz.com/datoahmad,NaN,NaN,https://www.google.com/search?q=DATO'+Ir.+AHMA...,DATO' Ir. AHMAD BIN HASSAN
4,5,Maritime Strategic Association of Malaysia (MA...,NaN,NaN,NaN,NaN,NaN,DATO' Ir.,AHMAD MURAD BIN OMAR,NaN,...,NaN,President,NaN,NaN,NaN,https://www.navy.mil.my/ms/berita-utama/382-se...,https://www.linkedin.com/in/ahmad-murad-omar-9...,NaN,https://www.google.com/search?q=DATO'+Ir.+AHMA...,DATO' Ir. AHMAD MURAD BIN OMAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1616,1617,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir. Dr.,AHMAD RASDAN BIN ISMAIL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/in/ahmad-rasdan-ismai...,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. Dr. AHMAD RASDAN BIN ISMAIL
1617,1618,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir. Dr.,MOHAMED THARIQ BIN HAMEED SULTAN,NaN,...,NaN,NaN,NaN,NaN,NaN,https://eng.upm.edu.my/upload/dokumen/20220907...,NaN,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. Dr. MOHAMED THARIQ BIN HAMEED ...
1618,1619,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir.,HAYATI BINTI ABDULLAH,NaN,...,NaN,NaN,NaN,NaN,NaN,https://utmscholar.utm.my/Scholar/ScholarInfoD...,NaN,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. HAYATI BINTI ABDULLAH
1619,1620,NaN,NaN,NaN,NaN,NaN,NaN,PROF. MADYA Ir.,ZAINAL ABIDIN BIN WAN CHIK,NaN,...,NaN,NaN,NaN,NaN,NaN,https://utmscholar.utm.my/Scholar/ScholarInfoD...,https://my.linkedin.com/in/a-p-ir-zainal-abidi...,NaN,https://www.google.com/search?q=PROF.+MADYA+Ir...,PROF. MADYA Ir. ZAINAL ABIDIN BIN WAN CHIK
1620,1621,NaN,NaN,NaN,NaN,NaN,NaN,TAN SRI Ir. Dr.,NGAU BOON KEAT,NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.dialogasia.com/board-of-directors/...,NaN,NaN,https://www.google.com/search?q=TAN+SRI+Ir.+Dr...,TAN SRI Ir. Dr. NGAU BOON KEAT

In [28]:
# checking result
print(f'''
      raw   :{dftemplate_raw['CONTACT TEL'].isna().sum()}
      t1    :{dftemplate_t5['CONTACT TEL'].isna().sum()}
      diff :{dftemplate_raw['CONTACT TEL'].isna().sum() - dftemplate_t5['CONTACT TEL'].isna().sum()}
      '''
)

      raw   :1438
      t1    :1337
      diff :101

In [29]:
# Define the path for the Excel file
excel_file_path = 'template filled from SalesQL.xlsx'

# Save the filtered DataFrame to an Excel file
dftemplate_t5.to_excel(excel_file_path, index=False)

print("Filtered data saved to", excel_file_path)



# Define the path for the Excel file
excel_file_path = 'SalesQL Record.xlsx'

# Save the filtered DataFrame to an Excel file
join_df.to_excel(excel_file_path, index=False)

print("Filtered data saved to", excel_file_path)



# Define the path for the Excel file
excel_file_path = 'SalesQL After Transformation.xlsx'

# Save the filtered DataFrame to an Excel file
filtered_df.to_excel(excel_file_path, index=False)

print("Filtered data saved to", excel_file_path)

Filtered data saved to template filled from SalesQL.xlsx
Filtered data saved to SalesQL Record.xlsx
Filtered data saved to SalesQL After Transformation.xlsx

In [ ]:
combined_df.columns

Index(['full_name', 'email', 'email_type', 'email_status', 'phone',
       'phone_type', 'phone_status'],
      dtype='object')